<%- include("header2") -%>
    <center>
    <h1 class="item">About Us</h1>
    </center>
    <p class="card">
        Sarv_Daan is on a mission to end food waste and hunger to make the “World Hunger Free”. We recover surplus food
        from people, weddings, parties, and functions and the individual who wants to donate the food solely can donate
        it to needy and hungry people. We are contributing toward hunger killing through this step.
        <img src="images/QF8QemqX_400x400.jpg" width="250px" height="150px" style="margin-left: 100px;">
    </p>
    <div class="hello">
        <h2>
            OBJECTIVE
        </h2>
    </div>
    <div class="card">

        <p> By providing a platform to different restaurants and NGOs, this app helps in reducing food wastage by
            providing it to deserving people.
            The death rate caused by hunger is increasing rapidly, you can lend a helping hand by becoming a part of
            this platform.
            Our future is shaped by young generations, sadly many of our young generations die because of hunger. We can
            stop it by using this platform.
        </p>
        <img class="avatar" src="images/End-Hunger.jpg">
    </div>

    <h2 class="develop">
        DEVELOPED BY:
    </h2>
    <h1 class="team">
        PRAGYANSH KHUSHI BHAVESH AYUSHI
    </h1>

<%- include("footer") -%>