<%- include("header") -%>
    <center>
    <h1 class="item">Verify E-mail Address/ Mobile Number </h1>
</center>
<div class="form">
    <h3>Please Enter The 4 Digit Code Sent To Your Email Address</h3><br />
    <form>
      
        <a href="">Resend Code</a><br><br>
            <button class="btn"><a href="password">Verify</a></button><br />
        </div>


</body>
</html>