<%- include("header2") -%>
    <div class="container">
    <center>
      <h1 class="help">Email Address</h1>
    </center>
    <h2>Send e-mail to sarv_daan@gmail.com:</h2>

    <form action="mailto:sarv_daan@gmail.com" method="post" enctype="text/plain">
        Name:<br>
        <input type="text" name="name"><br><br>
        E-mail:<br>
        <input type="text" name="mail"><br><br>
        Comment:<br>
        <TEXTAREA rows="10" cols="75" name="commentfield" placeholder="Enter your opinion here..."></TEXTAREA><BR><br>
        <button class="btns">Submit</button>
        <button type="reset" class="btns">Reset</button>
        </div>
    </form>
    </div>
</body>

</html>