<footer class = "footer">
            <div class = "footer-container">
                <div>
                    <h2>About Us </h2>
                    <p></p>
                    <ul class = "social-icons">
                        <li class = "flex">
                            <i class = "fa fa-twitter fa-2x social"></i>
                        </li>
                        <li class = "flex">
                            <i class = "fa fa-facebook fa-2x social"></i>
                        </li>
                        <li class = "flex">
                            <i class = "fa fa-instagram fa-2x social"></i>
                        </li>
                    </ul>
                </div>

                <div>
                    <h2>Useful Links</h2>
                    <a href = "Donate">Donate</a>
                    <a href = "help">Enquiry</a>
                    <a href = "Request">Request</a>
                </div>



                <div>
                    <h2>Privacy</h2>
                    <a href = "AboutUs">About Us</a>
                    <a href = "email">Contact Us</a>
                    <a href = "feedback">Feedback</a>
                    <a href = "who_we_are">Who we are</a>
                </div>

                <div>
                    <h2>Have A Question</h2>
                    <div class = "contact-item">
                        <span>
                            <i class = "fas fa-map-marker-alt"></i>
                        </span>
                        <span>
                            SARV_DAAN<br>
                            #zero_hunger
                        </span>
                    </div>
                    
                    <div class = "contact-item">
                       
                        <span>
                            sarv_daan@gmail.com
                        </span>
                    </div>
                </div>
            </div>
        </footer>
</body>

</HTML>