<%- include("header2") -%>
    <center>
    <h1 class="item">Forget Password</h1>
</center>
<div class="form">
    <h1>Forget Password?</h1><br />
    <h3>Please Enter Your Email Address To Recieve a Verification Code</h3><br />
    <form>
        <div class="REGISTER">
            Email : <input type="email" name="mail" placeholder="E-mail address"><BR><BR>
                <a href="FMobile">Try Another Way</a><BR><BR>
            
            <button class="btn"><a href="code">SEND</a></button><br />
        </div>

</body>
</html>