<%- include("header2") -%>
    <center>
    <h1 class="item">Forget Password</h1>
</center>
<div class="form">
    <h1>Forget Password?</h1><br />
    <h3>Please Enter Your Mobile Number To Recieve a Verification Code</h3><br />
    <form>
        <div class="REGISTER">
            Mobile number : <input type="number" name="number" placeholder="Mob number"><BR><BR>
            
            <button class="btn"><a href="code">SEND</a></button><br />
        </div>
</body>
</html>