<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarv_Daan</title>
    <link rel="icon" href="images/sarvdaan.jpeg">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="theme.css">

</head>

<body>
    <div class="side_bar">
        <img src="images/sarvdaan.jpeg" width="100px" height="100px" style="border-radius: 100px;">
        <h1>Sarv_Daan</h1>
        <p>_____________________________________________________</p>
        <h2>Sarv_Daan is on a mission:</h2><br>
        <h1>"#Zero_Hunger"</h1>
        <br>
        <img src="images/hunger.jpg" width="200px" height="200px"
            style="border-radius: 100px; margin-left: 50px; margin-right: 50px;">
    </div>
    <div class="navbar">
        <div class="options">
            <a href="home"><i class="fa fa-home">Home</i></a>
            <a href="AboutUs"><i class="fa fa-info">About_Us</i></a>
            <a href="HELP"><i class="fa fa-question-circle-o">Help_&_Support</i></a>
            <a href="feedback">   <i class="fa fa-comments">Feedback</i></a>
            <a href="settings">   <i class="fa fa-gear">Settings</i></a>
        </div>
        <button class="btns"><a href="SignIn"><i class="fa fa-sign-in">Sign In</i></a></button><br /><br />
    </div>