<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarv_Daan</title>
    <link rel="icon" href="images/sarvdaan.jpeg">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="theme.css">
    <link rel="stylesheet" href="bootstrap.css">
</head>

<body class="bg">
       <div class="logo">
        <img src="images/sarvdaan.jpeg" width="50px" height="50px" style="border-radius: 100px;"><p>Sarv_Daan</p>   
    </div>
    <div class="navbar">
        <div class="options">
            <a href="home"><i class="fa fa-home">Home</i></a>
            <a href="AboutUs"><i class="fa fa-info">About_Us</i></a>
            <a href="HELP"><i class="fa fa-question-circle-o">Help_&_Support</i></a>
            <a href="feedback">   <i class="fa fa-comments">Feedback</i></a>
            <a href="settings">   <i class="fa fa-gear">Settings</i></a>
        </div>
        <button class="btns"><a href="SignIn"><i class="fa fa-sign-in">Sign In</i></a></button><br /><br />
    </div>
    <br>
    <div class="page-hero bg-image overlay-dark" style="background-image: url(../images/background3.jpg); height:300px;">
        <div class="bbb">
        </div>