<%- include("header") -%>
        <div class="contact"><center>
            <b><i><h1>Want To Share Food?</h1><br><br>
            <H2> Choose any one</H2></b></i>
            </center>
        </div>
    </div>
    <div class="btn-group">
        <div class="cam">
            <a href="Donate"><button class="cambtn"><img src="images/DONATE.png"width="90px" height="100px" style="border-radius: 10px;"><h1>Donate</h1><h4>Donate Your Food For Needy</h4></button></a>
            <a href="NGO"><button class="cambtn"><img src="images/DELIVERY.png"width="100px" height="100px" style="border-radius: 10px;"><h2> NGO's/Delivery Agent</h2><h4> Food Pickup & Deliver</h4></button></a>
            <a href="Request"><button class="cambtn"><img src="images/WOW.png"width="100px" height="100px" style="border-radius: 10px;" > <h1> Request</h1><h4> Request Food From Superhero</h4></button></a>
        </div>
    </div><br><br><br><br><br><br><br>
    <div class="container1">
    <center>
    <h1 class="develop1">About Us</h1>
    </center>
    <p class="card2"><br>
        Sarv_Daan is on a mission to end food waste and hunger to make the “World Hunger Free”. We recover surplus food
        from people, weddings, parties, and functions and the individual who wants to donate the food solely can donate
        it to needy and hungry people. We are contributing toward hunger killing through this step.
        <img src="images/QF8QemqX_400x400.jpg" width="250px" height="150px" style="margin-left: 100px;">
    </p>
    <div class="develop1">
        <h2>
            OBJECTIVE
        </h2>
    </div>
    <div class="card2"><br>
         <p>By providing a platform to different restaurants and NGOs, this app helps in reducing food wastage by
            providing it to deserving people.
            The death rate caused by hunger is increasing rapidly, you can lend a helping hand by becoming a part of
            this platform.
            Our future is shaped by young generations, sadly many of our young generations die because of hunger. We can
            stop it by using this platform.
        </p>
        <img class="avatar" src="images/End-Hunger.jpg">
    </div>
    <h2 class="develop1">
        DEVELOPED BY:
    </h2>
    <h3 class="team">
       Pragyansh  Khushi  Bhavesh  Ayushi
    </h3>
    </div>
    <br><br><br><br><br>
    <div class="hns">
    <center>
    <h1 class="item">Help & support</h1>
    </center>
    <h3>Let's take a step ahead and help you better.</h3 >
    <h1>FAQs</h1>
    <h2 class="tag1">
        What is Sarv_Daan Customer Care Number
    </h2>
     <h3>
        We value our customer’s time and hence moved away from a single customer care number to a comprehensive chat-based support system for quick and easy resolution.
        We value your privacy and your information is safe with us. Please do not reveal any personal information, bank account number, OTP etc. to another person.
        A Sarv_Daan representative will never ask you for these details. Please do not reveal these details to fraudsters and imposters claiming to be calling on our behalf. Be vigilant and do not entertain phishing calls or emails.<br><br>
        <a href="email">Send an E-mail</a>
    </h3>
    <h2 class="tag1">
        Will Sarv_Daan be resposible for quality
    </h2>
    <h3>
        Quantity and quality of the food is the NGO's,Donor's responsibility. However in case of issues with the quality or quantity, kindly submit your feedback and we will pass it on to the Donor.
    </h3>
    <h2 class="tag1">
        Can I change Address/Number
    </h2>
    <h3>
        Any major change in delivery address is not possible after you have placed an order with us. However, slight modifications like changing the flat number, street name, landmark etc. are allowed. If you have received delivery executive details, you can directly call him, else you could contact our customer service team.
    </h3>
    <h2 class="tag1">
        Did not recieve OTP
    </h2>
    <h3>
        Please share the details via   <a href="email">Send an E-mail</a>
    </h3>
    <h2 class="tag1">
        Deactivate my Account
    </h2>
    <h3>
        Please write to us at   <a href="email">Send an E-mail</a> in the event that you want to deactivate your account.
    </h3>
    <br><br>
    </div>
   
<%- include("footer") -%>