<%- include("header2") -%>
    <div class="form">
        <h1> REGISTER</h1><br />
        <form action="/index" method="post">
            <div class="REGISTER">
                <i class="fa fa-user"></i>
                <input type="text " name="name" placeholder="NAME">
                <br />
                <i class="fa fa-phone"></i>
                <input type="tel" name="contact" placeholder="CONTACT">
                <br />
                <i class="fa fa-lock"></i>
                <input type="password" name="password" placeholder="PASSWORD">
                <br />
                <i class="fa fa-lock"></i>
                <input type="password"name="cpassword" placeholder="CONFIRM PASSWORD">
                <br />
                <br />
                <button class="btn"><i class="fa fa-user-plus"></i>CREATE ACCOUNT</button><br /><br>
                <center>By creating an account, <br>I accept the Terms & Conditions & Privacy Policy</center>
                <div class="description">
                    <h4>Already have an account?</h4>
                    <a href="SignIn"><i class="fa fa-sign-in">Sign In</i> </a>
                </div>
            </div>
        </form>
    </div>
</body>

</html>