<%- include("header2") -%>
    <center>
    <h1 class="item">Create New Password </h1>
</center>
<div class="form">
    <h3>Your New Password Must Be Different From Previously Used Password</h3><br />
    <form>
        Create New Password :<input type="password" name="password" placeholder="Create New Password"><BR><BR>
        Confirm Password :<input type="password" name="password" placeholder="Confirm Password"><BR><BR>
            <button class="btn"><a href="SignIn">Save</a></button><br />
        </div>


</body>
</html>