<%- include("header2") -%>
    <div class="donatebg">
    <center>
    <h1 class="item">Request Food Details</h1>
</center>
<div class="container">
    <form action="/Request" method="post">
        Deliver Where: <br><input type="text" name="where1" placeholder="Select Address">
        <input type="text" name="where2" placeholder="Select Address Line 2"><br>
        <input type="text" name="where3" placeholder="City">
        <input type="text" name="where4" placeholder="Region"><br>
        <input type="text" name="where5" placeholder="Postal/Zip Code">
        <BR><BR>
            No. of Person: <input type="text" name="number" placeholder="Enter No. of Person here">
            <BR><BR> 
        <button type="submit" class="btns">Submit</button>
        <input type="button" class="btns" onclick="location.href=location.href" value="Reset" />
    </form>
</div>
</div>
<br><br><br><br><br>
<%- include("footer") -%>