<%- include("header") -%>
<h1 style="color: aliceblue;">This page can be only be viewed by logged in users</h1>
<form action="/logout" method="POST">
  <button type="submit">Logout</button>
</form>
<%- include("footer") -%>
