<%- include("header2") -%>
     <center>
    <h1 class="item">.</h1>
</center>
    
    <div class="full">
        <div class="card1">
            <div style="border-radius:100px; height:70px; width:70px;  margin:0 auto; border: 2px solid green;">
              <div class="checkmark">✓</div>
            </div>
              <h1>Success</h1> 
 
            </div><BR>
                <BR>
                <button class="btn"><a href="home">Back To Home</a></button><br />
            </div><br>
            </div>

</body>
</html>


