<%- include("header") -%>

 <div class="contact"><center>
            <b><i><h1> “Who we are”</h1><br><br>
            <H2></H2></b></i>
            </center>
        </div>
    </div>
<div style="display: flex;">
    <div class="side_bar">
        <img src="images/sarvdaan.jpeg" width="100px" height="100px" style="border-radius: 100px;">
        <h1>Sarv_Daan</h1>
        <p>_____________________________________________________</p>
        <h2>Sarv_Daan is on a mission:</h2><br>
        <h1>"#Zero_Hunger"</h1>
        <br>
        <img src="images/hunger.jpg" width="200px" height="200px"
            style="border-radius: 100px; margin-left: 50px; margin-right: 50px;">
    </div>
    <div>
    <center>
        <H1 class="feed">Our Team</H1>
    </center>
    <div class="doc">
       <p> Here are some of the key Heroes who lead our vision towards better food for more people.</p>
       
    </div>

    <figure class="zo">
        <img src="images/PRAGYANSH.jpg" alt="PRAGYANSH" width="400px" length="400px" />
        <figcaption>
          <h5> PRAGYANSH</h5>
        </figcaption>
        <a href="#"></a>
      </figure>

      <figure class="zo">
        <img src="images/KHUSHI.jpg" alt="KHUSHI" width="400px" length="400px"/>
        <figcaption>
          <h5> KHUSHI GUPTA</h5>
        </figcaption>
        <a href="#"></a>
      </figure>

      <figure class="zo">
        <img src="images/BHAVESH.jpg" alt="BHAVESH" width="400px" length="400px"/>
        <figcaption>
          <h5>BHAVESH VERMA</h5>
        </figcaption>
        <a href="#"></a>
      </figure>

      <figure class="zo">
        <img src="images/AYUSHI.jpg" alt="AYUSHI" width="400px" length="400px"/>
        <figcaption>
          <h5>AYUSHI GUPTA</h5>
        </figcaption>
        <a href="#"></a>
      </figure>

</div>
</div>

<%- include("footer") -%>